 
 <div class="nav">
  <h1>HOTEL BOOKING SERVICE</h1>
  </div>

<div class="container-fluid main">
<div class="form-inline form-group">

 <li class='btn btn-info hom'><a href='#'>Home</a></li>
 <li class='btn btn-info abo'><a href='#'>About us</a></li>
 <li class='btn btn-info cre'><a href='#'>Book Room</a></li>
 <li class='btn btn-info my'><a href='#'>Room lists</a></li>
 <li class='btn btn-info cha'><a href='#'>Register</a></li>
 <li class='btn btn-info log'><a href='#'>Login</a></li>
   <li class='btn btn-info log'><a href='#'>Contact us</a></li>
  
 </div>
</div>
<div class='body'>
</div>