<h1>ABOUT HOTEL BOOKING SERVICE</h1>
<p>Online Hotel reservations are a popular method or booking hotel rooms. Travellers can book on a computer by using<br>
online security to protect their privacy and Financial information and by using several online travel agents to compare prices<br>
and facilities at different hotels.<br> Prior to the internet, travellers could write, telephone the hotel directly, or use a travel agent
to make reservations. Nowadays online travel agents have pictures of hotle rooms,information on prices and deals, information on local resort<br>
</p>

